# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635

In [3]:
Total_Students = school_data_complete['student_name'].count()
Total_Schools = len(school_data_complete['school_name'].unique())
Total_Budget = sum(school_data_complete['budget'].unique())
Average_Math_Score = round(school_data_complete['math_score'].mean(), 6)
Average_Reading_Score = round(school_data_complete['reading_score'].mean(), 6)
Overall_Passing_Rate = round((Average_Math_Score + Average_Reading_Score)/2, 6) 
MP_Count = 0
RM_Score = school_data_complete['math_score']
for score_m in RM_Score:
    if score_m >= 70:
        MP_Count += 1
    Perc_MP = round((MP_Count/Total_Students)*100, 6)
RP_Count = 0
RR_Score = school_data_complete['reading_score']
for score_r in RR_Score:
    if score_r >= 70:
        RP_Count += 1
    Perc_RP = round((RP_Count/Total_Students)*100, 6)
#print(Total_Students)
#print(Total_Schools)
#print(Total_Budget)
#print(Average_Math_Score)
#print(Average_Reading_Score)
#print(Overall_Passing_Rate)
#print(Perc_MP)
#print(Perc_RP)
district_metrics = pd.DataFrame({'Total Schools':[Total_Schools], 
                                'Total Students':[Total_Students], 
                                'Total Budget':[Total_Budget], 
                                'Average Math Score':[Average_Math_Score], 
                                'Average Reading Score':[Average_Reading_Score], 
                                '% Passing Math':[Perc_MP], 
                                '% Passing Reading':[Perc_RP], 
                                'Overall Passing Rate':[Overall_Passing_Rate], 
                                }, index = None)
district_metrics

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [14]:
# splitting complete school dataframe by school name
split_by_schools = school_data_complete.groupby('school_name')
#split_by_schools.head()
#creating individual dataframes for each school
Huang_HS = split_by_schools.get_group('Huang High School')
#Huang_HS
#Calculating the various values:
Hu_School_Name = Huang_HS['school_name'].unique()
Hu_School_Type = Huang_HS['type'].unique()
Hu_Tot_Stud = len(Huang_HS['student_name'])
Hu_Tot_Budget = Huang_HS['budget'].unique()
Hu_Per_St_Budget = Hu_Tot_Budget/Hu_Tot_Stud
Hu_Ave_Math_Sc = Huang_HS['math_score'].mean()
Hu_Ave_Read_Sc = Huang_HS['reading_score'].mean()
Hu_Overall_Passing_Rate = round((Hu_Ave_Math_Sc + Hu_Ave_Read_Sc)/2, 6)
Hu_MP_Count = 0
Hu_RM_Score = Huang_HS['math_score']
for Hu_score_m in Hu_RM_Score:
    if Hu_score_m >= 70:
        Hu_MP_Count += 1
    Hu_Perc_MP = round((Hu_MP_Count/Hu_Tot_Stud)*100, 6)
Hu_RP_Count = 0
Hu_RR_Score = Huang_HS['reading_score']
for Hu_score_r in Hu_RR_Score:
    if Hu_score_r >= 70:
        Hu_RP_Count += 1
    Hu_Perc_RP = round((Hu_RP_Count/Hu_Tot_Stud)*100, 6)
Figueroa_HS = split_by_schools.get_group('Figueroa High School')
#Figueroa_HS
#Calculating the various values:
Fi_School_Name = Figueroa_HS['school_name'].unique()
Fi_School_Type = Figueroa_HS['type'].unique()
Fi_Tot_Stud = len(Figueroa_HS['student_name'])
Fi_Tot_Budget = Figueroa_HS['budget'].unique()
Fi_Per_St_Budget = Fi_Tot_Budget/Fi_Tot_Stud
Fi_Ave_Math_Sc = Figueroa_HS['math_score'].mean()
Fi_Ave_Read_Sc = Figueroa_HS['reading_score'].mean()
Fi_Overall_Passing_Rate = round((Fi_Ave_Math_Sc + Fi_Ave_Read_Sc)/2, 6)
Fi_MP_Count = 0
Fi_RM_Score = Figueroa_HS['math_score']
for Fi_score_m in Fi_RM_Score:
    if Fi_score_m >= 70:
        Fi_MP_Count += 1
    Fi_Perc_MP = round((Fi_MP_Count/Fi_Tot_Stud)*100, 6)
Fi_RP_Count = 0
Fi_RR_Score = Figueroa_HS['reading_score']
for Fi_score_r in Fi_RR_Score:
    if Fi_score_r >= 70:
        Fi_RP_Count += 1
    Fi_Perc_RP = round((Fi_RP_Count/Fi_Tot_Stud)*100, 6)
Shelton_HS = split_by_schools.get_group('Shelton High School')
#Calculating the various values:
Sh_School_Name = Shelton_HS['school_name'].unique()
Sh_School_Type = Shelton_HS['type'].unique()
Sh_Tot_Stud = len(Shelton_HS['student_name'])
Sh_Tot_Budget = Shelton_HS['budget'].unique()
Sh_Per_St_Budget = Sh_Tot_Budget/Sh_Tot_Stud
Sh_Ave_Math_Sc = Shelton_HS['math_score'].mean()
Sh_Ave_Read_Sc = Shelton_HS['reading_score'].mean()
Sh_Overall_Passing_Rate = round((Sh_Ave_Math_Sc + Sh_Ave_Read_Sc)/2, 6)
Sh_MP_Count = 0
Sh_RM_Score = Shelton_HS['math_score']
for Sh_score_m in Sh_RM_Score:
    if Sh_score_m >= 70:
        Sh_MP_Count += 1
    Sh_Perc_MP = round((Sh_MP_Count/Sh_Tot_Stud)*100, 6)
Sh_RP_Count = 0
Sh_RR_Score = Shelton_HS['reading_score']
for Sh_score_r in Sh_RR_Score:
    if Sh_score_r >= 70:
        Sh_RP_Count += 1
    Sh_Perc_RP = round((Sh_RP_Count/Sh_Tot_Stud)*100, 6)
Hernandez_HS = split_by_schools.get_group('Hernandez High School')
#Calculating the various values:
He_School_Name = Hernandez_HS['school_name'].unique()
He_School_Type = Hernandez_HS['type'].unique()
He_Tot_Stud = len(Hernandez_HS['student_name'])
He_Tot_Budget = Hernandez_HS['budget'].unique()
He_Per_St_Budget = He_Tot_Budget/He_Tot_Stud
He_Ave_Math_Sc = Hernandez_HS['math_score'].mean()
He_Ave_Read_Sc = Hernandez_HS['reading_score'].mean()
He_Overall_Passing_Rate = round((He_Ave_Math_Sc +He_Ave_Read_Sc)/2, 6)
He_MP_Count = 0
He_RM_Score = Hernandez_HS['math_score']
for He_score_m in He_RM_Score:
    if He_score_m >= 70:
        He_MP_Count += 1
    He_Perc_MP = round((He_MP_Count/He_Tot_Stud)*100, 6)
He_RP_Count = 0
He_RR_Score = Hernandez_HS['reading_score']
for He_score_r in He_RR_Score:
    if He_score_r >= 70:
        He_RP_Count += 1
    He_Perc_RP = round((He_RP_Count/He_Tot_Stud)*100, 6)
Griffin_HS = split_by_schools.get_group('Griffin High School')
#Calculating the various values:
Gr_School_Name = Griffin_HS['school_name'].unique()
Gr_School_Type = Griffin_HS['type'].unique()
Gr_Tot_Stud = len(Griffin_HS['student_name'])
Gr_Tot_Budget = Griffin_HS['budget'].unique()
Gr_Per_St_Budget = Gr_Tot_Budget/Gr_Tot_Stud
Gr_Ave_Math_Sc = Griffin_HS['math_score'].mean()
Gr_Ave_Read_Sc = Griffin_HS['reading_score'].mean()
Gr_Overall_Passing_Rate = round((Gr_Ave_Math_Sc +Gr_Ave_Read_Sc)/2, 6)
Gr_MP_Count = 0
Gr_RM_Score = Griffin_HS['math_score']
for Gr_score_m in Gr_RM_Score:
    if Gr_score_m >= 70:
        Gr_MP_Count += 1
    Gr_Perc_MP = round((Gr_MP_Count/Gr_Tot_Stud)*100, 6)
Gr_RP_Count = 0
Gr_RR_Score = Griffin_HS['reading_score']
for Gr_score_r in Gr_RR_Score:
    if Gr_score_r >= 70:
        Gr_RP_Count += 1
    Gr_Perc_RP = round((Gr_RP_Count/Gr_Tot_Stud)*100, 6)
Wilson_HS = split_by_schools.get_group('Wilson High School')
#Calculating the various values:
Wi_School_Name = Wilson_HS['school_name'].unique()
Wi_School_Type = Wilson_HS['type'].unique()
Wi_Tot_Stud = len(Wilson_HS['student_name'])
Wi_Tot_Budget = Wilson_HS['budget'].unique()
Wi_Per_St_Budget = Wi_Tot_Budget/Wi_Tot_Stud
Wi_Ave_Math_Sc = Wilson_HS['math_score'].mean()
Wi_Ave_Read_Sc = Wilson_HS['reading_score'].mean()
Wi_Overall_Passing_Rate = round((Wi_Ave_Math_Sc +Wi_Ave_Read_Sc)/2, 6)
Wi_MP_Count = 0
Wi_RM_Score = Wilson_HS['math_score']
for Wi_score_m in Wi_RM_Score:
    if Wi_score_m >= 70:
        Wi_MP_Count += 1
    Wi_Perc_MP = round((Wi_MP_Count/Wi_Tot_Stud)*100, 6)
Wi_RP_Count = 0
Wi_RR_Score = Wilson_HS['reading_score']
for Wi_score_r in Wi_RR_Score:
    if Wi_score_r >= 70:
        Wi_RP_Count += 1
    Wi_Perc_RP = round((Wi_RP_Count/Wi_Tot_Stud)*100, 6)
Cabrera_HS = split_by_schools.get_group('Cabrera High School')
#Calculating the various values:
Ca_School_Name = Cabrera_HS['school_name'].unique()
Ca_School_Type = Cabrera_HS['type'].unique()
Ca_Tot_Stud = len(Cabrera_HS['student_name'])
Ca_Tot_Budget = Cabrera_HS['budget'].unique()
Ca_Per_St_Budget = Ca_Tot_Budget/Ca_Tot_Stud
Ca_Ave_Math_Sc = Cabrera_HS['math_score'].mean()
Ca_Ave_Read_Sc = Cabrera_HS['reading_score'].mean()
Ca_Overall_Passing_Rate = round((Ca_Ave_Math_Sc +Ca_Ave_Read_Sc)/2, 6)
Ca_MP_Count = 0
Ca_RM_Score = Cabrera_HS['math_score']
for Ca_score_m in Ca_RM_Score:
    if Ca_score_m >= 70:
        Ca_MP_Count += 1
    Ca_Perc_MP = round((Ca_MP_Count/Ca_Tot_Stud)*100, 6)
Ca_RP_Count = 0
Ca_RR_Score = Cabrera_HS['reading_score']
for Ca_score_r in Ca_RR_Score:
    if Ca_score_r >= 70:
        Ca_RP_Count += 1
    Ca_Perc_RP = round((Ca_RP_Count/Ca_Tot_Stud)*100, 6)
Bailey_HS = split_by_schools.get_group('Bailey High School')
#Calculating the various values:
Ba_School_Name = Bailey_HS['school_name'].unique()
Ba_School_Type = Bailey_HS['type'].unique()
Ba_Tot_Stud = len(Bailey_HS['student_name'])
Ba_Tot_Budget = Bailey_HS['budget'].unique()
Ba_Per_St_Budget = Ba_Tot_Budget/Ba_Tot_Stud
Ba_Ave_Math_Sc = Bailey_HS['math_score'].mean()
Ba_Ave_Read_Sc = Bailey_HS['reading_score'].mean()
Ba_Overall_Passing_Rate = round((Ba_Ave_Math_Sc +Ba_Ave_Read_Sc)/2, 6)
Ba_MP_Count = 0
Ba_RM_Score = Bailey_HS['math_score']
for Ba_score_m in Ba_RM_Score:
    if Ba_score_m >= 70:
        Ba_MP_Count += 1
    Ba_Perc_MP = round((Ba_MP_Count/Ba_Tot_Stud)*100, 6)
Ba_RP_Count = 0
Ba_RR_Score = Bailey_HS['reading_score']
for Ba_score_r in Ba_RR_Score:
    if Ba_score_r >= 70:
        Ba_RP_Count += 1
    Ba_Perc_RP = round((Ba_RP_Count/Ba_Tot_Stud)*100, 6)
Holden_HS = split_by_schools.get_group('Holden High School')
#Calculating the various values:
Ho_School_Name = Holden_HS['school_name'].unique()
Ho_School_Type = Holden_HS['type'].unique()
Ho_Tot_Stud = len(Holden_HS['student_name'])
Ho_Tot_Budget = Holden_HS['budget'].unique()
Ho_Per_St_Budget = Ho_Tot_Budget/Ho_Tot_Stud
Ho_Ave_Math_Sc = Holden_HS['math_score'].mean()
Ho_Ave_Read_Sc = Holden_HS['reading_score'].mean()
Ho_Overall_Passing_Rate = round((Ho_Ave_Math_Sc +Ho_Ave_Read_Sc)/2, 6)
Ho_MP_Count = 0
Ho_RM_Score = Holden_HS['math_score']
for Ho_score_m in Ho_RM_Score:
    if Ho_score_m >= 70:
        Ho_MP_Count += 1
    Ho_Perc_MP = round((Ho_MP_Count/Ho_Tot_Stud)*100, 6)
Ho_RP_Count = 0
Ho_RR_Score = Holden_HS['reading_score']
for Ho_score_r in Ho_RR_Score:
    if Ho_score_r >= 70:
        Ho_RP_Count += 1
    Ho_Perc_RP = round((Ho_RP_Count/Ho_Tot_Stud)*100, 6)
Pena_HS = split_by_schools.get_group('Pena High School')
#Calculating the various values:
Pe_School_Name = Pena_HS['school_name'].unique()
Pe_School_Type = Pena_HS['type'].unique()
Pe_Tot_Stud = len(Pena_HS['student_name'])
Pe_Tot_Budget = Pena_HS['budget'].unique()
Pe_Per_St_Budget = Pe_Tot_Budget/Pe_Tot_Stud
Pe_Ave_Math_Sc = Pena_HS['math_score'].mean()
Pe_Ave_Read_Sc = Pena_HS['reading_score'].mean()
Pe_Overall_Passing_Rate = round((Pe_Ave_Math_Sc +Pe_Ave_Read_Sc)/2, 6)
Pe_MP_Count = 0
Pe_RM_Score = Pena_HS['math_score']
for Pe_score_m in Pe_RM_Score:
    if Pe_score_m >= 70:
        Pe_MP_Count += 1
    Pe_Perc_MP = round((Pe_MP_Count/Pe_Tot_Stud)*100, 6)
Pe_RP_Count = 0
Pe_RR_Score = Pena_HS['reading_score']
for Pe_score_r in Pe_RR_Score:
    if Pe_score_r >= 70:
        Pe_RP_Count += 1
    Pe_Perc_RP = round((Pe_RP_Count/Pe_Tot_Stud)*100, 6)
Wright_HS = split_by_schools.get_group('Wright High School')
#Calculating the various values:
Wr_School_Name = Wright_HS['school_name'].unique()
Wr_School_Type = Wright_HS['type'].unique()
Wr_Tot_Stud = len(Wright_HS['student_name'])
Wr_Tot_Budget = Wright_HS['budget'].unique()
Wr_Per_St_Budget = Wr_Tot_Budget/Wr_Tot_Stud
Wr_Ave_Math_Sc = Wright_HS['math_score'].mean()
Wr_Ave_Read_Sc = Wright_HS['reading_score'].mean()
Wr_Overall_Passing_Rate = round((Wr_Ave_Math_Sc +Wr_Ave_Read_Sc)/2, 6)
Wr_MP_Count = 0
Wr_RM_Score = Wright_HS['math_score']
for Wr_score_m in Wr_RM_Score:
    if Wr_score_m >= 70:
        Wr_MP_Count += 1
    Wr_Perc_MP = round((Wr_MP_Count/Wr_Tot_Stud)*100, 6)
Wr_RP_Count = 0
Wr_RR_Score = Wright_HS['reading_score']
for Wr_score_r in Wr_RR_Score:
    if Wr_score_r >= 70:
        Wr_RP_Count += 1
    Wr_Perc_RP = round((Wr_RP_Count/Wr_Tot_Stud)*100, 6)
Rodriguez_HS = split_by_schools.get_group('Rodriguez High School')
#Calculating the various values:
Ro_School_Name = Rodriguez_HS['school_name'].unique()
Ro_School_Type = Rodriguez_HS['type'].unique()
Ro_Tot_Stud = len(Rodriguez_HS['student_name'])
Ro_Tot_Budget = Rodriguez_HS['budget'].unique()
Ro_Per_St_Budget = Ro_Tot_Budget/Ro_Tot_Stud
Ro_Ave_Math_Sc = Rodriguez_HS['math_score'].mean()
Ro_Ave_Read_Sc = Rodriguez_HS['reading_score'].mean()
Ro_Overall_Passing_Rate = round((Ro_Ave_Math_Sc +Ro_Ave_Read_Sc)/2, 6)
Ro_MP_Count = 0
Ro_RM_Score = Rodriguez_HS['math_score']
for Ro_score_m in Ro_RM_Score:
    if Ro_score_m >= 70:
        Ro_MP_Count += 1
    Ro_Perc_MP = round((Ro_MP_Count/Ro_Tot_Stud)*100, 6)
Ro_RP_Count = 0
Ro_RR_Score = Rodriguez_HS['reading_score']
for Ro_score_r in Ro_RR_Score:
    if Ro_score_r >= 70:
        Ro_RP_Count += 1
    Ro_Perc_RP = round((Ro_RP_Count/Ro_Tot_Stud)*100, 6)
Johnson_HS = split_by_schools.get_group('Johnson High School')
#Calculating the various values:
Jo_School_Name = Johnson_HS['school_name'].unique()
Jo_School_Type = Johnson_HS['type'].unique()
Jo_Tot_Stud = len(Johnson_HS['student_name'])
Jo_Tot_Budget = Johnson_HS['budget'].unique()
Jo_Per_St_Budget = Jo_Tot_Budget/Jo_Tot_Stud
Jo_Ave_Math_Sc = Johnson_HS['math_score'].mean()
Jo_Ave_Read_Sc = Johnson_HS['reading_score'].mean()
Jo_Overall_Passing_Rate = round((Jo_Ave_Math_Sc +Jo_Ave_Read_Sc)/2, 6)
Jo_MP_Count = 0
Jo_RM_Score = Johnson_HS['math_score']
for Jo_score_m in Jo_RM_Score:
    if Jo_score_m >= 70:
        Jo_MP_Count += 1
    Jo_Perc_MP = round((Jo_MP_Count/Jo_Tot_Stud)*100, 6)
Jo_RP_Count = 0
Jo_RR_Score = Johnson_HS['reading_score']
for Jo_score_r in Jo_RR_Score:
    if Jo_score_r >= 70:
        Jo_RP_Count += 1
    Jo_Perc_RP = round((Jo_RP_Count/Jo_Tot_Stud)*100, 6)
Ford_HS = split_by_schools.get_group('Ford High School')
#Calculating the various values:
Fo_School_Name = Ford_HS['school_name'].unique()
Fo_School_Type = Ford_HS['type'].unique()
Fo_Tot_Stud = len(Ford_HS['student_name'])
Fo_Tot_Budget = Ford_HS['budget'].unique()
Fo_Per_St_Budget = Fo_Tot_Budget/Fo_Tot_Stud
Fo_Ave_Math_Sc = Ford_HS['math_score'].mean()
Fo_Ave_Read_Sc = Ford_HS['reading_score'].mean()
Fo_Overall_Passing_Rate = round((Fo_Ave_Math_Sc +Fo_Ave_Read_Sc)/2, 6)
Fo_MP_Count = 0
Fo_RM_Score = Ford_HS['math_score']
for Fo_score_m in Fo_RM_Score:
    if Fo_score_m >= 70:
        Fo_MP_Count += 1
    Fo_Perc_MP = round((Fo_MP_Count/Fo_Tot_Stud)*100, 6)
Fo_RP_Count = 0
Fo_RR_Score = Ford_HS['reading_score']
for Fo_score_r in Fo_RR_Score:
    if Fo_score_r >= 70:
        Fo_RP_Count += 1
    Fo_Perc_RP = round((Fo_RP_Count/Fo_Tot_Stud)*100, 6)
Thomas_HS = split_by_schools.get_group('Thomas High School')
#Thomas_HS
#Calculating the various values:
Th_School_Name = Thomas_HS['school_name'].unique()
Th_School_Type = Thomas_HS['type'].unique()
Th_Tot_Stud = len(Thomas_HS['student_name'])
Th_Tot_Budget = Ford_HS['budget'].unique()
Th_Per_St_Budget = Th_Tot_Budget/Th_Tot_Stud
Th_Ave_Math_Sc = Thomas_HS['math_score'].mean()
Th_Ave_Read_Sc = Thomas_HS['reading_score'].mean()
Th_Overall_Passing_Rate = round((Th_Ave_Math_Sc +Th_Ave_Read_Sc)/2, 6)
Th_MP_Count = 0
Th_RM_Score = Thomas_HS['math_score']
for Th_score_m in Th_RM_Score:
    if Th_score_m >= 70:
        Th_MP_Count += 1
    Th_Perc_MP = round((Th_MP_Count/Th_Tot_Stud)*100, 6)
Th_RP_Count = 0
Th_RR_Score = Thomas_HS['reading_score']
for Th_score_r in Th_RR_Score:
    if Th_score_r >= 70:
        Th_RP_Count += 1
    Th_Perc_RP = round((Th_RP_Count/Th_Tot_Stud)*100, 6)

In [15]:
#Creating summary table for all schools in a dataframe
school_metrics = pd.DataFrame({'Schools Name':[Hu_School_Name,
                                              Fi_School_Name,
                                              Sh_School_Name,
                                              He_School_Name,
                                              Gr_School_Name,
                                              Wi_School_Name,
                                              Ca_School_Name,
                                              Ba_School_Name,
                                              Ho_School_Name,
                                              Pe_School_Name,
                                              Wr_School_Name,
                                              Ro_School_Name,
                                              Jo_School_Name,
                                              Fo_School_Name,
                                              Th_School_Name], 
                                'School Type':[Hu_School_Type,
                                              Fi_School_Type,
                                              Sh_School_Type,
                                              He_School_Type,
                                              Gr_School_Type,
                                              Wi_School_Type,
                                              Ca_School_Type,
                                              Ba_School_Type,
                                              Ho_School_Type,
                                              Pe_School_Type,
                                              Wr_School_Type,
                                              Ro_School_Type,
                                              Jo_School_Type,
                                              Fo_School_Type,
                                              Th_School_Type], 
                                'Total Students':[Hu_Tot_Stud,
                                                 Fi_Tot_Stud,
                                                 Sh_Tot_Stud,
                                                 He_Tot_Stud,
                                                 Gr_Tot_Stud,
                                                 Wi_Tot_Stud,
                                                 Ca_Tot_Stud,
                                                 Ba_Tot_Stud,
                                                 Ho_Tot_Stud,
                                                 Pe_Tot_Stud,
                                                 Wr_Tot_Stud,
                                                 Ro_Tot_Stud,
                                                 Jo_Tot_Stud,
                                                 Fo_Tot_Stud,
                                                 Th_Tot_Stud],
                                'Total School Budget':[Hu_Tot_Budget,
                                                      Fi_Tot_Budget,
                                                      Sh_Tot_Budget,
                                                      He_Tot_Budget,
                                                      Gr_Tot_Budget,
                                                      Wi_Tot_Budget,
                                                      Ca_Tot_Budget,
                                                      Ba_Tot_Budget,
                                                      Ho_Tot_Budget,
                                                      Pe_Tot_Budget,
                                                      Wr_Tot_Budget,
                                                      Ro_Tot_Budget,
                                                      Jo_Tot_Budget,
                                                      Fo_Tot_Budget,
                                                      Th_Tot_Budget],
                                'Per Student Budget':[Hu_Per_St_Budget,
                                                     Fi_Per_St_Budget,
                                                     Sh_Per_St_Budget,
                                                     He_Per_St_Budget,
                                                     Gr_Per_St_Budget,
                                                     Wi_Per_St_Budget,
                                                     Ca_Per_St_Budget,
                                                     Ba_Per_St_Budget,
                                                     Ho_Per_St_Budget,
                                                     Pe_Per_St_Budget,
                                                     Wr_Per_St_Budget,
                                                     Ro_Per_St_Budget,
                                                     Jo_Per_St_Budget,
                                                     Fo_Per_St_Budget,
                                                     Th_Per_St_Budget],
                                'Average Math Score':[Hu_Ave_Math_Sc,
                                                     Fi_Ave_Math_Sc,
                                                     Sh_Ave_Math_Sc,
                                                     He_Ave_Math_Sc,
                                                     Gr_Ave_Math_Sc,
                                                     Wi_Ave_Math_Sc,
                                                     Ca_Ave_Math_Sc,
                                                     Ba_Ave_Math_Sc,
                                                     Ho_Ave_Math_Sc,
                                                     Pe_Ave_Math_Sc,
                                                     Wr_Ave_Math_Sc,
                                                     Ro_Ave_Math_Sc,
                                                     Jo_Ave_Math_Sc,
                                                     Fo_Ave_Math_Sc,
                                                     Th_Ave_Math_Sc], 
                                'Average Reading Score':[Hu_Ave_Read_Sc,
                                                        Fi_Ave_Read_Sc,
                                                        Sh_Ave_Read_Sc,
                                                        He_Ave_Read_Sc,
                                                        Gr_Ave_Read_Sc,
                                                        Wi_Ave_Read_Sc,
                                                        Ca_Ave_Read_Sc,
                                                        Ba_Ave_Read_Sc,
                                                        Ho_Ave_Read_Sc,
                                                        Pe_Ave_Read_Sc,
                                                        Wr_Ave_Read_Sc,
                                                        Ro_Ave_Read_Sc,
                                                        Jo_Ave_Read_Sc,
                                                        Fo_Ave_Read_Sc,
                                                        Th_Ave_Read_Sc], 
                                '% Passing Math':[Hu_Perc_MP,
                                                 Fi_Perc_MP,
                                                 Sh_Perc_MP,
                                                 He_Perc_MP,
                                                 Gr_Perc_MP,
                                                 Wi_Perc_MP,
                                                 Ca_Perc_MP,
                                                 Ba_Perc_MP,
                                                 Ho_Perc_MP,
                                                 Pe_Perc_MP,
                                                 Wr_Perc_MP,
                                                 Ro_Perc_MP,
                                                 Jo_Perc_MP,
                                                 Fo_Perc_MP,
                                                 Th_Perc_MP], 
                                '% Passing Reading':[Hu_Perc_RP,
                                                    Fi_Perc_RP,
                                                    Sh_Perc_RP,
                                                    He_Perc_RP,
                                                    Gr_Perc_RP,
                                                    Wi_Perc_RP,
                                                    Ca_Perc_RP,
                                                    Ba_Perc_RP,
                                                    Ho_Perc_RP,
                                                    Pe_Perc_RP,
                                                    Wr_Perc_RP,
                                                    Ro_Perc_RP,
                                                    Jo_Perc_RP,
                                                    Fo_Perc_RP,
                                                    Th_Perc_RP], 
                                'Overall Passing Rate':[Hu_Overall_Passing_Rate,
                                                       Fi_Overall_Passing_Rate,
                                                       Sh_Overall_Passing_Rate,
                                                       He_Overall_Passing_Rate,
                                                       Gr_Overall_Passing_Rate,
                                                       Wi_Overall_Passing_Rate,
                                                       Ca_Overall_Passing_Rate,
                                                       Ba_Overall_Passing_Rate,
                                                       Ho_Overall_Passing_Rate,
                                                       Pe_Overall_Passing_Rate,
                                                       Wr_Overall_Passing_Rate,
                                                       Ro_Overall_Passing_Rate,
                                                       Jo_Overall_Passing_Rate,
                                                       Fo_Overall_Passing_Rate,
                                                       Th_Overall_Passing_Rate], 
                                }, index = None)
school_metrics

,Schools Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,[Huang High School],[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,78.906068
1,[Figueroa High School],[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,78.934893
2,[Shelton High School],[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,83.542589
3,[Hernandez High School],[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,79.112082
4,[Griffin High School],[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,83.584128
5,[Wilson High School],[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,83.631844
6,[Cabrera High School],[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,83.518837
7,[Bailey High School],[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,79.041198
8,[Holden High School],[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,83.809133
9,[Pena High School],[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,83.942308
10,[Wright High School],[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,83.818611
11,[Rodriguez High School],[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,78.793698
12,[Johnson High School],[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,79.019429
13,[Ford High School],[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,78.924425
14,[Thomas High School],[Charter],1635,[1763916],[1078.8477064220183],83.418349,83.848930,93.272171,97.308869,83.633639

In [20]:
#Top Performing Schools By Passing Rate
school_metrics.sort_values('Overall Passing Rate', ascending = False).head()

,Schools Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
9,[Pena High School],[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,83.942308
10,[Wright High School],[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,83.818611
8,[Holden High School],[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,83.809133
14,[Thomas High School],[Charter],1635,[1763916],[1078.8477064220183],83.418349,83.848930,93.272171,97.308869,83.633639
5,[Wilson High School],[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,83.631844

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [21]:
school_metrics.sort_values('Overall Passing Rate', ascending = True).head()

,Schools Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
11,[Rodriguez High School],[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,78.793698
0,[Huang High School],[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,78.906068
13,[Ford High School],[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,78.924425
1,[Figueroa High School],[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,78.934893
12,[Johnson High School],[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,79.019429

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.